.contact-button {
    background-color: #00796B;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
}

.contact-button:hover {
    background-color: #00897B;
}

body {
    background-color: #E0F2F1; 
    color: #004D40; 
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    max-width: 60%;
    border-radius: 10px;
    background-color: #004D40;
}

.header {
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
}

.header h1, .header h4 {
    color: white;
}

main {
    text-align: center;
    padding: 40px 0;
}

.whatsapp-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.mail-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}



